body{
    margin: 300px 15%;
	background-image:url(img/background.png);
	font-family: sans-serif;
}
section{
	width: 100%;
	min-height:400px;
	background-color:#fafafa;
	padding:15px;
	border: 1px solid grey;
}
section table{
	margin-left: auto;
	margin-right: auto;
}
section table td{
	text-align: left;
}
aside{
	float:right;
	width: 30%;
	margin-left: 20px;
}
aside img{
	width:100%;
	margin-bottom: 5px;
}
.undertekst{
	color:grey;
}