body{
    margin: 300px 20%;
	background-image:url(img/background.png);
	font-family: verdana;
}
section{
	width: 100%;
	min-height:400px;
	background-color:#fafafa;
	padding:15px;
	border: 1px solid grey;
}
aside{
	float:right;
	width: 30%;
	margin-left: 20px;
	color:grey;
}
aside img{
	width:100%;
	margin-bottom: 5px;
}